{% extends 'base.html.twig' %}
{% block body %}

<h1>This is a symfony2 test page</h1>
Hello <span class="name" style="text-transform:capitalize">{{ name }}!</span>
<a href="http://www.google.com">Google link</a>
<a href="/post/moocow">Google link</a>
{% endblock %}